*{
	margin: 0;
	padding: 0;
}

body{				/* browser resets  */
	font-family: helvetica, arial, sans-serif;
	font-size: 100%;
	background-color: lightblue;
}

#wrapper{
	width: 96%;
	margin: 0 auto; /* first vale for top and bottom, second value for left and right */
	font-size: 80%;
	background-color: pink;
}





header {
	width: 100%;
	float: left;
	text-align:center;
}

nav{
	width: 100%;
	float: left;
	height: 30px;
	background-color:beige;
	margin-bottom: 2%;
}

nav ul{
	width: 60%;
	margin: 0 auto;
	padding-top: .7%;
}

nav li{
	list-style: none;
	display: inline-block;
	margin-left: 2%;
}

nav a{
	text-decoration: none;
}

nav a:hover{
	background-color: black;
	color: green;
}

#about, #teaching, #events{
	width: 100%;
}




p, h3, h2 {
	margin-bottom:.5em;
}

h1,h2,h3{
	margin-top:1em; 
	

}

ul{
	padding-left:1em;
}

#photo img{
	max-width: 100%
}

footer{
	clear: both;
	width: 100%;
	text-align: center;
}

@media (min-width: 768px) {

	#wrapper{
		width: 70%;
		margin: 0 auto;
		font-size: 90%;
	}

	#about, #teaching, #events{
		width: 30%;
		float: left;
		margin: 1.5%;
	}

	nav ul{
		width: 30%;
		margin: 0 auto;
	}
}

