* {
	margin: 0;
	padding: 0;
}


body{
	background-color: #ffb3b3;

}

header, #userbox, footer {
	width: 100%;
} 

.container {
	width: 80%;
	margin: auto;
	background-color:#fff;

}
header{
	
	background-color: pink;
	/*/border:1px solid black;*/
	height: auto;
	background: #452145;
	float:left;
	
}

#icon img {
	width:100%;
	margin: auto;
}



.jumbotron {
	width:70%;
	margin: auto;
	height:auto;
	background: #fff;

}


footer li {
	list-style: none;
}

h3 {
	font-weight: bold;
}


footer{
	background-color: grey;
	text-align: center;
	float: left;
}


footer {
	margin-bottom: 1em;
}


#carlogo{
	width: 100%;
	float: left;
	margin-top: 1%;
}

#carlogo img{
	width: 12%;
	margin: 0 auto;
}






@media only screen and (min-width: 768px) {




footer li {
	list-style: none;
}

footer {
	margin-bottom: 1em;
}

.left,.middle,.right {
	width: 33.1%;
	display: inline-block;
	margin:auto;
	float: left;
}

h3 {
	font-weight: bold;
}



}
