* {
	margin: 0;
	padding: 0;
}


body{
	background-color: #ffb3b3;

}

header, #userbox,footer {
	width: 100%;
} 

.container {
	width: 70%;
	margin:0 auto;
	background-color:#fff;

}
header{
	
	background-color: pink;
	/*/border:1px solid black;*/
	height: 100px;
	background: #452145;
	
}





#userbox img {
	width:100%;
}

#footer_navagation li {
	
text-align: center;
list-style: none;

}

h1 {
	color: #fff;
}


h1, h2, h3 {
	text-align: center;

}

h2 {
	font-style: bold;
	font-weight: 4em;
	font-family: arial;
}



footer{
	background-color: grey;
	height: auto;
	float: left;
	width: 100%;
	text-align: center;	
	
}

figcaption{
	text-align: center;
	font-size: 30px;
	background: #79aeb7;
}

#logo{
	width: 100%;
	float: left;
	margin-top: 2%;
}

#logo img{
	width: 10%;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {



footer{
	background-color: grey;
	text-align: center;
	float: left;
	margin-bottom: .5em;

}

.first, .second, .last {
	width: 33.1%;
	display: inline-block;
	margin:2 1%;
	float: left;

}


.car{
	width:48%;
	float: left;
	display: inline-block;
	height:auto;
	margin: 2% 1%;
}



}








