




*{margin:0;
padding:0
}



body{
     background-image: url("concert5.jpg");
     font-family: 'Open Sans', sans-serif;
     /*background-image:url.("concert9.jpg");*/
    background-repeat: no-repeat;
    background-attachment:fixed;
    /*background-position: bottom;*/
  
    
}



header {
    width: 100%;
    float: left; 
    margin-bottom: 3%;
}

#logo{
    width: 40%;
    margin-right:5%;

}

#logo img{
    width: 100%;
}

img{min-width:100%;}

.container{
	width:80%;
	padding:5px;
	margin:0 auto;
    background-color: black;
}
#main-menu{
	display:none;
	clear:both;
}

nav li{
	list-style-type: none;

}

nav li ul{
	display: none;
}

h1{
	margin:0.5em 0;
}

h3 {
	text-align: center;
    font-size: 100%;
     font-style: bold;
    font-size: 180%;
    font-family: helvetica, arial;
    color: yellow;
}


h5 {
    text-align: center;
}



footer {
	text-align: center;
    color: black;
    clear: both;
    background-color: lightgrey;
     width:100%;
    margin:0%;
    height:180px;
}





/* Dropdown Button */



/*#slideshow img, #direction img{
	width:100%;
}*/

/*#lineup, #news, aside{
	margin:1em 0;
}*/



#bar{
    width:100%;
    float: left;
    height: 40px;
    background-color: green;
}

#bar li{
    display:inline-block;
    list-style:none;
    margin-right: 10%;
}

#bar ul {
    width: 100%;
    text-align: center;
    margin-top: 0.5%;

}

#bar a{
    text-decoration: none;
    font-weight: bold;
    font-family: helvetica;
    font-size: 70;
    color: white;
    
}





#slideshow img{
    margin: auto;
    width: 100%;

}


#lineup li{
	
	display:inline-block;
	list-style:none;
    }

#lineup a{
    text-decoration: none;
    font-weight:bold;
    font-family: arial;
    font-size: 100%;
    color: white;
}

#lineup a:hover{
    background-color: white;
    color:black;
}

#lineup {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #C70039;
}

#lineup ul {
    width: 100%;
    margin-top: 2%;
    font-size: 20px;
    font-family: arial, helvetica;
    word-spacing: 10%;
    margin-left: 1%;
    padding-bottom: 3%;
}



#location {
	width: 30%;
}




#largebox {
   
    width:100%;
    height: 100%;
    background-color: #C70039;
    overflow: hidden;
    margin-top: 6px;
}


     
   



.mediabox:first-child{margin-left: 1%;}
.mediabox:last-child{margin-right: 0;}



#largebox h4 a:link, a:visited {
    background-color: black;
    color:white;
    text-decoration: none;
    padding: .7%; 
   
    }

#largebox h4 a:hover, a:active {
    background-color: yellow;

} 


h4{
    text-align: center;
    margin-bottom: 2%;

}

.mediabox img{
        width: 100%;
    }


.leftcolumn ul {
    list-style-type: none; 
    margin-left:1%;
    text-align: center;

}

.middlecolumn ul {
    list-style-type: none;
    text-align: center;
    }

 .rightcolumn ul {
     list-style-type: none;
    text-align: center;
 }




.leftcolumn, .middlecolumn, .rightcolumn {

width:25%;
float:left;
height: 25px;
margin-left:6%;
margin-top:2%;
}

footer{
    width: 100%;
    clear: both;
}

#footer_nav, .copyright{
    width: 100%;
    float: left;
}


.copyright {
    margin-top: 5%;
    width: 100%
}



footer a{
    text-decoration: none;
}




/*.social {
    margin-top: 7%;
}
*/




@media (min-width: 768px){
    .mediabox {
        width: 30%;
        margin:2% ;
        float: left;
    }
    

    
    .mediabox:last-child{
        margin-right:0;
    }

  
    

    #bar nav li{
        display: inline-block;
        border-bottom: none;

  }


.copyright {
    width: 30%;
    margin: 4%;
    float: left;
}
 
}



/*--------medium device---------*/
/*
@media only screen and (max-width: 700px)and (min-width: 980px){
	.mediabox{
		width:96%;
		margin: 2%;
	}

    #slideshow img
}*/

